<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
		</array>
		<key>name</key>
		<string>我的好友</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
		</array>
		<key>name</key>
		<string>黑名单</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>张三</string>
			<string>李四</string>
			<string>王五</string>
			<string>小明</string>
		</array>
		<key>name</key>
		<string>高中同学</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>小林</string>
			<string>小王</string>
			<string>小李</string>
		</array>
		<key>name</key>
		<string>初中同学</string>
	</dict>
</array>
</plist>
